<div style="width: 100%;position: relative;">
  <div *ngIf="isToRemove" style="margin-top: 20px;margin-bottom: 20px;">
    {{'msg.ethernetip-module-remove' | translate}} '{{data.module.name}}' ?
  </div>
  <div *ngIf="!isToRemove">
    <h1 mat-dialog-title style="display:inline-block; cursor:move; padding-top: 15px" mat-dialog-draggable>
      {{'device.ethernetip-property' | translate}}</h1>
    <mat-icon (click)="onNoClick()"
      style="float:right;cursor:pointer;color:gray;position: relative; top: 10px; right: 0px">clear</mat-icon>
  </div>
  <div style="overflow-y: hidden; overflow-x: hidden; padding-top: 5px;" *ngIf="!isToRemove">
    <div style="display: block;">
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-name' | translate}}</span>
        <input [(ngModel)]="data.module.name" style="width: 350px" type="text" cdkFocusInitial>
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-description' | translate}}</span>
        <input [(ngModel)]="data.module.description" style="width: 350px" type="text">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-rpi' | translate}}</span>
        <input [(ngModel)]="data.module.rpi" style="width: 350px" type="number">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-input-instance' | translate}}</span>
        <input [(ngModel)]="data.module.inputInstance" style="width: 350px" type="number">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-input-instance-size' | translate}}</span>
        <input [(ngModel)]="data.module.inputSize" style="width: 350px" type="number">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-output-instance' | translate}}</span>
        <input [(ngModel)]="data.module.outputInstance" style="width: 350px" type="number">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-output-instance-size' | translate}}</span>
        <input [(ngModel)]="data.module.outputSize" style="width: 350px" type="number">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-config-instance' | translate}}</span>
        <input [(ngModel)]="data.module.configurationInstance" style="width: 350px" type="number">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-config-instance-size' | translate}}</span>
        <input [(ngModel)]="data.module.configurationSize" style="width: 350px" type="number">
      </div>
      <div class="my-form-field" style="display: block;margin-bottom: 10px;">
        <span>{{'ethernetip-module-property-config-data' | translate}}</span>
        <input [(ngModel)]="data.module.configurationData" style="width: 350px" type="text">
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="dialog-action">
    <button mat-raised-button (click)="onNoClick()">{{'dlg.cancel' | translate}}</button>
    <button mat-raised-button color="primary" [disabled]="!isValid(data.module)" (click)="onOkClick()"
      [mat-dialog-close]="data" >{{'dlg.ok' |
      translate}}</button>
  </div>
</div>